body{
    background-color: #D3D1C5;
}
h2{
    text-align: center;
    background-color: green;
}

.table{
    background-color: antiquewhite;
    border: 2px;
}
.oooo{
    
    text-align: center;
    margin: 0 auto;
}